.Card {
  position: relative;
  cursor: pointer;
  background: #1E1E1E;
  color: #E3E3E3;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  overflow-wrap: break-word;
  min-height: 60px;
  margin-bottom: 24px;;
}

.Card:hover {
  background: #4764FD;
}

.Card-Icons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Card-Icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 1px;
  color: #fff;
  background: #4764FD;
  opacity: 0.9;
}

.Card-Icon:hover {
  opacity: 1;
  background: #3e5ae2;
}
