.Edit-Buttons {
  display: flex;
}

.Edit-Button {
  cursor: pointer;
  background-color: #4764FD !important;
  width: fit-content;
  margin: 0 5px 10px;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  outline: none;
}

.Edit-Button:hover {
  opacity: 0.7;
}

.Edit-Button-Cancel {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  opacity: 0.5;
  outline: none;
}

.Edit-Button-Cancel:hover {
  opacity: 1;
}
