.List {
  background: #db380f00;
  flex-shrink: 0;
  width: 272px;
  height: fit-content;
  margin: 10px;
  margin-right: 0;
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.12); */
  color: #E3E3E3;
}

.List-Title {
  cursor: pointer;
  padding: 18px;
  overflow-wrap: break-word;
  background-color: #0E0E0E;
  border-radius: 8px;
  margin-bottom: 24px;
  color: #e3e3e3;
  display: flex;
  flex-direction: row;
}

.Toggle-Add-Card {
  cursor: pointer;
  padding: 10px;
  color: #e3e3e3;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.Toggle-Add-Card:hover {
  background-color: #4764FD;
  color: #e3e3e3;
}

.Toggle-Add-Card ion-icon {
  margin-right: 2px;
}

.List-Icons {
  margin-left: auto;
}

.List-Title-Content {
  width: 100%;
}